################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ProductService.Api/bin/Debug/net8.0
/src/ProductService.Api/obj
/src/ProductService.Application/bin/Debug/net8.0
/src/ProductService.Application/obj
/src/ProductService.BackgroundServices/bin/Debug/net8.0
/src/ProductService.BackgroundServices/obj/Debug/net8.0
/src/ProductService.Common/bin/Debug/net8.0
/src/ProductService.Common/obj/Debug/net8.0
/src/ProductService.Domain/bin/Debug/net8.0
/src/ProductService.Domain/obj
/src/ProductService.EventSourcing/bin/Debug/net8.0
/src/ProductService.EventSourcing/obj/Debug/net8.0
/src/ProductService.EventSourcing/obj
/src/ProductService.Infrastructure/bin/Debug/net8.0
/src/ProductService.Infrastructure/obj
/.vs
/gateways/ProductService.ApiGateway/bin/Debug/net8.0
/gateways/ProductService.ApiGateway/obj/Debug/net8.0
/gateways/ProductService.ApiGateway/obj
/src/ProductService.BackgroundServices/obj
/src/ProductService.Common/obj
/tests/ProductService.IntegrationTests/bin/Debug/net8.0
/tests/ProductService.IntegrationTests/obj/Debug/net8.0
/tests/ProductService.IntegrationTests/obj
/tests/ProductService.UnitTests/bin/Debug/net8.0
/tests/ProductService.UnitTests/obj/Debug/net8.0
/tests/ProductService.UnitTests/obj
